body {
    background-color: #BC7FCD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    position: relative; 
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    width: 100%;
  }
  
  .add {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    margin-top: 50px; /* Small gap above */
    margin-right: 100px; /* Small gap on the right */
  }
  
  .button {
    background-color: #FFEBB2;
  }
  
  .form {
    margin-bottom: 10px; 
  }